<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link rel="icon" type="image/png" href="/images/favicon.png" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
	<title>Pilot Reports</title>
</head>
<body>
<div id="wrapper">
	<div id="header" class="col-full">
		<div id="logo">
		</div><!-- /#logo -->
	</div><!-- /#header -->

	{% if user %}
	<div class="content">
		<h3 id="logout"><a href="{{ url }}">Sign Out</a></h3>
		XAcars Login info:<br>
		Username: {{ user.email }}<br>
		Password: {{ user.token }}
		
		<h2>Active Flights</h2>
		<table>
		{% for flight in active_flights %}
			<tr>
				<td>{{ flight.flight_number }}</td>
				<td>{{ flight.aircraft_type }}</td>
				<td>{{ flight.departure }}</td>
				<td>{{ flight.destination }}</td>
				<td>{{ flight.flight_plan }}</td>
			</tr>
		{% endfor %}
		</table>

		<h2>Pirep Flights</h2>
		<table>
		{% for flight in reported_flights %}
			<tr>
				<td>{{ flight.time_report }}</td>
				<td>{{ flight.flight_number }}</td>
				<td>{{ flight.ac_icao }}</td>
				<td>{{ flight.departure }}</td>
				<td>{{ flight.destination }}</td>
			</tr>
		{% endfor %}
		</table>
	</div>

	{% else %}
	<div class="content">
		<h3 id="login"><a href="{{ url }}">Login using your Google account to get started.</a></h3>
	</div>
	{% endif %}

	<div id="footer" class="col-full">
		<div id="copyright">
		</div>
	</div><!-- /#footer  -->

</div><!-- /#wrapper -->
</body>
</html>